body {
	font-family: lato, sans-serif;
}

a:link,
a:visited,
a:active {
	color: #f8981c;
}

h1 {
	font-size: 100%;
}

.navi {
	font-weight: bolder;
	font-family: lato, sans-serif;
	text-transform: uppercase;
}


/*Header*/
.header {
	display: flex;
	justify-content: space-between;
}

.logo {
	padding-top: 70px;
}

.name-tag {
	padding-top: 70px;
	color: #747704;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: 2px;
	max-width: 100%;
}

.name {
	font-size: 200%;
	font-weight: 100;
}

hr {
	border-top: 5px solid #bcbbbb;
}

.jumbo-text {
	width: 100%;
	min-height: 200px;
	height: 100%;
	background-image: url(../images/woman-hand-smartphone-desk.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: right;
	letter-spacing: 20px;
	text-shadow: 5px 5px 15px #333;
	padding-top: 10px;
}

/*Featured Work Section*/
h2 {
	color: #bcbbbb;
	letter-spacing: 5px;
}

.project-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.project {
	color: #747704;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}

.project-thumbnail {
	margin: auto;
	width: 100%;
	border-radius: 2.5%;
}

/* Modals */
.description {
	font: 20px lato, sans-serif;
	text-align: center;
}

/* Break Points */
@media screen and (max-width: 380px) {
	.jumbo-text {
		min-height: 150px;
	}
}

@media screen and (max-width: 600px) {

	.project {
		width: 100%;
	}

	.logo {
		max-width: 50px;
	}
}

@media screen and (min-width: 601px) and (max-width: 990px) {

	.project {
		width: 50%;
	}

	.logo {
		max-width: 75px;
	}
}